<section class="vh-100">
    
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-50 ">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://images.vexels.com/media/users/3/262561/isolated/preview/d4e8a9986c2b7eb249a5f57b6684615a-refeia-a-o-de-pizza-de-comida.png"
            class="img-fluid" alt="imagem de pizza">
        </div>

        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form method="post">

            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">ENTRAR</p>
            </div>

            <div class="form-outline mb-4">
              <input type="email" id="form3Example3" name="email" class="form-control form-control-lg"
                placeholder="Digite o email" />
              <label class="form-label" for="form3Example3">Email</label>
            </div>
  
            <div class="form-outline mb-3">
              <input type="password" id="form3Example4" name="senha" class="form-control form-control-lg"
                placeholder="Digite a senha" />
              <label class="form-label" for="form3Example4">Senha</label>
            </div>

            {{status}}
  
            <div class="text-center text-lg-start mt-4 pt-2">
              <button type="submit" class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Entrar</button>
              <p class="small fw-bold mt-2 pt-1 mb-0"> Ainda não tem uma conta? <a href="{{URL}}/admin/cadastro"
                  class="link-danger">Cadastre-se</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
</section>